.my-Chat {
    &_launcher {
        cursor: pointer;
        background-color: #4e8cff;
        background-position: 50%;
        background-repeat: no-repeat;
        position: fixed;
        right: 25px;
        bottom: 25px;
        box-shadow: none;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transition: box-shadow .2s ease-in-out;
        &__close {
        }
        &__open {
        }
    }
}




.sc-chat-window {
    display: none;
}