$color-amber-1: rgba(255, 179, 0 ,.5);
$color-orange-1: rgba(239, 108, 0, 0.75);
$color-teal-1: rgb(0,105,92);
$color-dangerous-1: #FF5722;

.joinContent {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;

    &__siteTitle {
        font-size: 42px;
        font-weight: 500;
        color: #EF6C00;
        position: relative;
        display: flex;

        .marker1,
        .marker2,
        .letter-o,
        .letter-w,
        .letter-e,
        .letter-r {
          animation-timing-function: cubic-bezier(0.15,-0.01, 0.58, 1);
          animation-duration: 5s;
          animation-iteration-count: infinite;
          will-change: transform;
        }

        .marker1 {
            position: absolute;
            top: 1px;
            width: 36px;
            height: 4px;
            left: -5px;
            animation-name: marker;
            background-color: #EF6C00;
        }

        .marker2 {
            position: absolute;
            bottom: 0;
            width: 36px;
            height: 4px;
            left: -5px;
            animation-name: marker;
            background-color: #EF6C00;
        }

        .letter-o { margin-left: 2px;   animation-name: o; }
        .letter-w { margin-left: 6px; animation-name: w; }
        .letter-e { margin-left: 12px; animation-name: e; }
        .letter-r { margin: 0 20px; animation-name: r; }
    }
    &-container {
        z-index: 20;
        background: rgba(50, 50, 50, 0.9);
        border-radius: 15px;
        height: 150px;
        margin: 20px;
        position: relative;
        width: 400px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &:hover {
            box-shadow: 0 5px 28px rgba(239, 108, 0, 0.6);
        }

        &__button {
            border-radius: 10px;
            outline: 0 !important;
        }


        &__button{
          background: $color-teal-1;
          color: white;
          border:none;
          position:relative;
          height: 35px;
          font-size:1.6em;
          padding:0 60px;
          cursor:pointer;
          transition:800ms ease all;
        }
        &__button:focus,
        &__button:hover{
          background: transparent;
          color: $color-teal-1;
        }
        &__button:before,
        &__button:after{
          content:'';
          position:absolute;
          top:0;
          right:0;
          height:2px;
          width:0;
          background:  $color-teal-1;
          transition:400ms ease all;
        }
        &__button:after{
          right:inherit;
          top:inherit;
          left:0;
          bottom:0;
        }
        &__button:focus:before,
        &__button:focus:after,
        &__button:hover:before,
        &__button:hover:after{
          width:100%;
          transition:800ms ease all;
        }

        &__inputWrapper {
          position: relative;



          &__input {
            margin-bottom: 40px;
            border:2px solid $color-amber-1;
            font-size:20px;
            padding: 3px 40px 3px 20px;
            color: $color-orange-1;
            border-radius:.25em;
            background:transparent;
            transition:all .100s;
            
            &:focus{
              outline:none;
            }
          }

          &__input::-webkit-input-placeholder {
            color:$color-amber-1;
            text-shadow:0 0 .125em transparent;
            transition:all .25s;
          }
          &__input:focus::-webkit-input-placeholder {
            opacity:.5;
          }

          &__input::-moz-placeholder {
            color:$color-amber-1;
            text-shadow:0 0 .125em transparent;
            transition:all .25s;
          }
          &__input:focus::-moz-placeholder {
            opacity:.5;
          }

          &__input:-ms-input-placeholder {
            color:$color-amber-1;
            text-shadow:0 0 .125em transparent;
            transition:all .25s;
          }

          &__input:focus:-ms-input-placeholder {
            opacity:.5;
          }

          &__icon1 {
            color:$color-amber-1;
            position: absolute;
            right: 5px;
            font-size: 20px;
            top: 2px;
            border-left: 3px solid $color-amber-1;;
            padding: 5px;
          }

          &__icon2 {
              color:$color-amber-1;
              position: absolute;
              right: 6px;
              font-size: 20px;
              top: 2px;
              border-left: 3px solid $color-amber-1;;
              padding: 5px;
              padding-left: 10px;
              &__dangerous {
                color: $color-dangerous-1;
              }
          }
        }
    }
}



@keyframes o {
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(18px); }
}
@keyframes w { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(32px); }
}
@keyframes e { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(32px); }
}
@keyframes r { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(18px); }
}
@keyframes marker { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(200px); }
}
