.canvas-container {
    canvas {
        position: absolute;
        background-image: url('/images/canvasBackground4.png'),
                          url('/images/canvasBackground3.png'),
                          url('/images/canvasBackground2.png'),
                          url('/images/canvasBackground1.png');
        background-size: auto 100%;
        background-attachment: fixed;
    }
    &_mouse-coordinates {
        position: fixed;
        left: 50px;
        top: 100px;
        color: black;
    }
    &__triangle-right,
    &__triangle-left {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.2);
        width: 8%;
        top: 0;
        bottom: 0;
    }
    &__triangle-left {
        left: 0;
    }
    &__triangle-right {
        right: 0;
    }
}
